<nav>
  <mat-toolbar color="primary">
    <span>Notes</span>
    <span class="example-spacer"></span>
    <span *ngIf="user" class="username">{{ user.email }}</span>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        routerLink="/register"
        routerLinkActive="activeLink"
        *ngIf="!user"
      >
        <mat-icon>register</mat-icon>
        <span>Register</span>
      </button>
      <button
        mat-menu-item
        routerLink="/login"
        routerLinkActive="activeLink"
        *ngIf="!user"
      >
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>

      <button
        mat-menu-item
        (click)="onLogout()"
        routerLink="/login"
        *ngIf="user"
      >
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</nav>
