<div class="addNoteContainer">
  <form (ngSubmit)="onSubmit()" [formGroup]="noteForm" fxLayout="column">
    <app-input
      label="Title"
      inputType="text"
      [control]="$any(noteForm.get('title'))"
    ></app-input>
    <div class="selectCategory">
      <label>Category</label>

      <select [formControl]="$any(noteForm.get('category'))">
        <!-- if newNote -->
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category.name }}
        </option>
      </select>
    </div>

    <app-input
      label="Body"
      controlType="textarea"
      [control]="$any(noteForm.get('content'))"
    ></app-input>

    <div class="redError secondError" *ngIf="noteForm.errors">
      <p *ngIf="noteForm.errors['noConnection']">
        No internet connection detected, failed to save. Try again later.
      </p>
      <p *ngIf="noteForm.errors['unknownError']">Failed to save.</p>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="noteButtons"
    >
      <div class="cancelButton">
        <button
          mat-raised-button
          color="gray"
          aria-label="Cancel button"
          (click)="onCancel()"
          type="button"
        >
          Cancel
        </button>
      </div>
      <div class="addButton">
        <button
          mat-raised-button
          color="primary"
          aria-label="Add button"
          [disabled]="!noteForm.valid"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
