<div class="containerDashboard">
  <div fxLayout="column">
    <div fxLayout="row" class="addAndSort">
      <div class="roundButton">
        <button
          mat-mini-fab
          color="gray"
          aria-label="Add button"
          (click)="onAddNewNote()"
          matTooltip="Add a new note"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="roundButton">
        <button
          mat-mini-fab
          color="gray"
          aria-label="Category button"
          (click)="onNewCategory()"
          [matTooltip]="showCategory ? 'Notes' : 'Categories'"
        >
          <mat-icon>{{ showCategory ? "checklist" : "category" }}</mat-icon>
        </button>
      </div>
      <div class="roundButton">
        <button
          mat-mini-fab
          color="gray"
          aria-label="Sort button"
          matTooltip="Sort"
          [matMenuTriggerFor]="sort"
        >
          <mat-icon><span class="material-icons"> sort </span></mat-icon>
        </button>
        <!-- (click)="onFilter()" -->

        <mat-menu #sort="matMenu">
          <button mat-menu-item>
            <!-- TODO: implement condition for selected sort  -->
            <mat-icon>done</mat-icon>
            <span>A to Z</span>
          </button>
          <button mat-menu-item>
            <mat-icon>none</mat-icon>
            <span>Z to A</span>
          </button>
          <button mat-menu-item>
            <mat-icon>none</mat-icon>
            <span>Date created</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <div *ngIf="showCategory" class="categoriesContainer">
      <div class="addCategoryInput">
        <app-add-category [userUid]="userUid"></app-add-category>
      </div>

      <div class="categories">
        <app-category
          class="category"
          *ngFor="let category of categories"
          [category]="category"
          (delete)="deleteCategory(category.id)"
        ></app-category>
      </div>
    </div>
    <div class="notesContainer" *ngIf="!showCategory">
      <app-note
        *ngFor="let note of notes"
        [note]="note"
        class="noteContainer"
        (delete)="onDelete(note.id)"
        (edit)="onEdit(note.id)"
      >
        ></app-note
      >
    </div>
  </div>
</div>
